<form class="form-horizontal">
  <div class="modal-header">
      <div class="input-group">
        <input type="url" class="form-control" id="url" ng-model="browserCtrl.url" ng-keypress="browserCtrl.navigate($event)">
        <div class="input-group-btn">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="browserCtrl.openInNewWindow()">
            <span class="glyphicon glyphicon-new-window"></span>
          </button>
        </div>
      </div>
  </div>
  <div class="modal-body">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" ng-src="{{browserCtrl.navigationUrl}}"></iframe>
    </div>
  </div>
</form>
