<form class="form-horizontal">
  <div class="modal-header">
      <h3 class="modal-title">{{mailCompose.mailForm.subject || 'New message'}}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="recipients" class="col-sm-2 control-label">Recipients</label>
      <div class="col-sm-10">
        <select id="recipients" ng-model="mailCompose.mailForm.recipients" class="form-control">
          <option ng-repeat="contact in mailCompose.contacts" ng-selected="contact.id === mailCompose.mailForm.recipients" value="{{contact.id}}">{{contact.firstName}} {{contact.lastName}}</option>
        </select>
        <!-- <tags-input ng-model="mailCompose.mailForm.recipients" replace-spaces-with-dashes="false" min-tags="1" max-tags="1" id="recipients" placeholder="To">
           <auto-complete source="mailCompose.matchingContacts($query)"></auto-complete>
        </tags-input> -->
      </div>
    </div>
    <div class="form-group">
      <label for="subject" class="col-sm-2 control-label">Subject</label>
      <div class="col-sm-10">
        <input ng-model="mailCompose.mailForm.subject" type="input" class="form-control" id="subject" placeholder="Subject">
      </div>
    </div>
    <div class="form-group">
      <label for="message" class="col-sm-2 control-label">Message</label>
      <div class="col-sm-10">
        <textarea ng-model="mailCompose.mailForm.message" class="form-control" id="message" placeholder="Message" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="attachment" class="col-sm-2 control-label">Attachment</label>
      <div class="col-sm-10">
        <input type="file" ngf-select="mailCompose.attach($files)" class="form-control" id="attachment" placeholder="Attachment" ng-if="!mailCompose.useHtml5FileUpload">
        <div ngf-drop="mailCompose.attach($files)" class="drop-zone" id="attachment" ngf-drag-over-class="'drop-zone-file-over'" ngf-drop-available="dropAvailable" ng-if="mailCompose.useHtml5FileUpload">Select File
          <span ng-show="dropAvailable"> or Drop File</span>
        </div>
        <div ng-if="mailCompose.mailForm.attachment">
          <span class="glyphicon glyphicon-link"></span> {{mailCompose.mailForm.attachment}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default btn-lg pull-left" type="button" ng-click="mailCompose.cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      <button class="btn btn-primary btn-lg" type="submit" ng-click="mailCompose.send()"><span class="glyphicon glyphicon-send"></span> Send</button>
  </div>
</form>
