<form class="form-horizontal">
  <div class="modal-header">
      <h3 class="modal-title">Random Generator</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="num-contacts" class="col-sm-4 control-label">Contacts</label>
      <div class="col-sm-8">
        <input ng-model="randomGeneratorFormCtrl.numContacts" type="number" class="form-control" id="num-contacts" placeholder="Number of random contacts">
      </div>
    </div>
    <div class="form-group">
      <label for="num-folders" class="col-sm-4 control-label">Folders</label>
      <div class="col-sm-8">
        <input ng-model="randomGeneratorFormCtrl.numFolders" type="number" class="form-control" id="num-folders" placeholder="Number of random folders">
      </div>
    </div>
    <div class="form-group">
      <label for="num-mails" class="col-sm-4 control-label">Mails</label>
      <div class="col-sm-8">
        <input ng-model="randomGeneratorFormCtrl.numMails" type="number" class="form-control" id="num-mails" placeholder="Number of random mails">
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button id="config-cancel" class="btn btn-default btn-lg pull-left" type="button" ng-click="randomGeneratorFormCtrl.cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      <button id="config-create" class="btn btn-primary btn-lg" type="button" ng-click="randomGeneratorFormCtrl.create()"><span class="glyphicon glyphicon-save"></span> Create</button>
  </div>
</form>
